/* peach: rgb(241,132,118) */
/* blue: rgb(85,78,246)  */

@font-face {
  font-family: "Gilmer-Regular";
  src: url("/fonts/Gilmer/Gilmer-Regular.otf");
}

@font-face {
  font-family: "Gilmer-Outline";
  src: url("/fonts/Gilmer/Gilmer-Outline.otf");
}

@font-face {
  font-family: "Gilmer-Heavy";
  src: url("/fonts/Gilmer/Gilmer-Heavy.otf");
}

@font-face {
  font-family: "Gilmer-Light";
  src: url("/fonts/Gilmer/Gilmer-Light.otf");
}

html {
  scroll-behavior: smooth;
}

body {
  background-size: cover;
  background-color: #ececea;
  font-family: "Gilmer-Regular";
}

.navbar {
  background-color: #ececea !important;
  /* background-color: white; */
  /* background-color: #C7ECEE !important; */
}

.fb {
  background-color: #3b5998;
  color: white;
}

/* Bricklayer */
@media screen and (min-width: 1200px) {
  .bricklayer-column-sizer {
    /* divide by 3. */
    width: 33.3%;
  }
}

@media screen and (min-width: 768px) {
  .bricklayer-column-sizer {
    /* divide by 2. */
    width: 50%;
  }
}

.btn-outline-success {
  color: rgb(85, 78, 246);
  border-color: rgb(85, 78, 246) !important;
}

.btn-outline-success:hover {
  color: white;
  background-color: rgb(85, 78, 246) !important;
}

.border-success {
  border-color: rgb(85, 78, 246) !important;
  border-width: 3px;
}

.acard {
  background-color: rgb(85, 78, 246) !important;
  color: white;
}

.t {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.fb-btn:hover {
  opacity: 1;
  color: white;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: black;
  color: white !important;
}

.yellow {
  color: rgb(243, 152, 62);
}

.squiggle {
  background: linear-gradient(
    to bottom,
    var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  text-decoration: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-size: auto 6px;
}

.location-address {
  font-size: medium !important;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 3rem;
}

a {
  color: #53caf0;
}

.sub-nav-link {
  text-decoration: none !important;
  color: #6c757d;
}

.sub-nav-link:hover {
  text-decoration: none !important;
  color: darkgrey;
}

.card {
  max-width: 20rem !important;
}

/* finds styles */

.find-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
  list-style-type: none;
  padding: 1rem;

  /* justify-content: start; */
}

.find-body {
  border-radius: 35px;
  background-color: white;
  max-width: 400px;
}

.find-figure {
  height: 350px;
  overflow: hidden;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  margin: 0px;
  /* border-radius: 35px; */
}

.find-image {
  width: 100%;
}

.find-content {
  position: relative;
  background-color: white;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  /* top: -40px; */
}

.find-name {
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-left: 0.75rem;
  font-family: "Gilmer-Heavy";
  font-size: 1.75rem;
  color: #008060;
}

.find-detail {
  font-family: "Gilmer-Light";
  font-size: 1rem;
  padding-left: 0.75rem;
}

.find-price {
  line-height: 0;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.75rem;
}

.find-location {
  line-height: 0;
  color: rgb(243, 152, 62) !important;
  font-size: 1rem;
  padding-left: 0.75rem;
  padding-bottom: 2.5rem;
  font-family: "Gilmer-Heavy";
}

.find-tag {
  color: #008060;
  padding-left: 0.75rem;
  font-family: "Gilmer-Heavy";
  font-size: 1.2rem;
  padding-left: 0.75rem;
}

.testcover {
  width: 100%;
  height: 500px;
  /* background-color: rgb(85, 78, 246); */
  background-color: #008060;
  color: #ececea;
  margin: 0px !important;
  padding: 0px !important;
}

.wave {
  padding: 0px !important;
  margin: 0px !important;
  width: 100%;
  position: relative;
  top: -2px;
  color: #008060;
}

.gray {
  color: #ececea !important;
}

.info {
  padding: 0.75rem 1rem;
}

.purple {
  background-color: rgb(85, 78, 246) !important;
}

.green {
  color: #008060;
}

.home-buttons {
  width: 200px;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.home-button {
  width: 150px;
  color: white !important;
}

.fb-icon {
  position: "relative" !important;
  top: 50px !important;
}

.bold-title {
  font-weight: 600 !important;
}

.thin {
  font-weight: 100 !important;
}

.modal-header {
  font-family: "Gilmer-Outline" !important;
  color: #008060;
}

.browse-background {
  background-color: #008060;
}

.bold {
  font-family: "Gilmer-Heavy";
}
